<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
   <link rel="stylesheet" href="css/registration-style.css">
</head>
<body>
  <div class="container">
    <div class="welcome">
      <span> Register to Rate and Save Your Readings </span>
    </div> <!-- .welcome -->
    <div class= "registration">
      <form class="signup" action="/signup" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password_confirmation" placeholder="Confirm Password">
        <input type="submit">
      </form>
    </div> <!-- .registration -->
  </div> <!-- .container -->
</body>
</html>