/* ///// Fonts ///// */

@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);

@font-face {
  font-family: Mary Jane Antique;
  src: url("/fonts/MARYJ___.ttf");
}

/* ///// Global ///// */

* {
  box-sizing: border-box;
}

body {
  background: url("/imgs/celestial_background_50_by_frostbo-d5ic2o5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.container {
  width: 90%;
}

.registration {
  width: 45%;
  height: 400px;
  margin: 5% auto;
}

p {
  padding-top: 5%;
  text-align: center;
  font: bold 34px 'Mary Jane Antique', Georgia, serif;
  color: rgb(140,119,126);
}

/* ///// Registration Form ///// */

.signup {
  height: 200px;
  width: 80%;
  padding: 10% auto;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(60,90,108,.5);
}

form {
  padding: 10px;
}

input {
  display: block;
  width: 70%;
  height: 35px;
  margin: 10px auto;
  border: none;
  border-radius: 6px;
  background-color: rgba(117,137,150,.4);
  font: 16px 'Goudy Bookletter 1911', Georgia, serif;
  color: rgb(40,57,83);
}

input:first-child {
  margin-top: 25px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(245,245,223);
}
input:-moz-placeholder { /* Firefox 18- */
  color: rgb(245,245,223);
}
input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(245,245,223);
}
input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(245,245,223);
}


.sign-up-button {
  background-color: rgb(140,119,126);
  color: rgb(245,245,223);
}

.sign-up-button:hover {
  background-color: rgb(216,184,195);
}

.password {
  width: 70%;
  margin: 10px auto;
  padding: 0;
}

.password div {
  display: inline-block;
  width: 49%;
  margin: 0 auto 10px 0;
}

.password div:first-child {
  float: left;
}

.password div:last-child {
  float: right;
}

.password input {
  width: 100%;
  margin: 10px 0;
}





